/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary: #ffffff;
  --color-block-1: #e5efe2;
  --color-block-2: #e4e9f3;
  --color-block-3: #f4f1e4;
  --color-icon-1: #428a2f;
  --color-icon-2: #3d63ac;
  --color-icon-3: #b09e3d;
  --color-text-primary: #000000;
  --color-text-secondary: #141414;
  --color-button-hover: #001AFF;

}
