.c-benefit-details {
  padding: 32px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  &__button {
    color: var(--color-text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 14px 19px 15px 24px;
    background-color: var(--color-primary);
    border-radius: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    transition: 0.3s ease-in-out;
  }

  &__button-icon-change,
  &__button:hover &__button-icon {
    display: none;
  }

  &__button:hover {
    color: var(--color-text-button-hover);
    transform: scale(1.1) translateY(-5px);
  }

  &__button:hover &__button-icon-change {
    display: block;
  }

  &__button:active {
    background-color: var(--color-button-pressed);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .c-benefit-details {
    padding-bottom: 38px;
  }
}

@media screen and (min-width: 850px) and (max-width: 1024px) {
  .c-benefit-details {
    padding: 32px 28px 38px 20px;
  }
}

@media screen and (max-width: 849px) {
  .c-benefit-details {
    padding: 24px;
    gap: 16px;

    &__button {
      font-family: "Satoshi", sans-serif;
    }
  }
}
@media screen and (max-width: 499px) {
  .c-benefit-details {
    padding: 24px 16px;
    flex:1;
    justify-content: space-between;
  }
}
