.c-benefit-content {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  &__image-box {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-box--first {
    background-color: var(--color-icon-1);
  }

  &__image-box--second {
    background-color: var(--color-icon-2);
  }

  &__image-box--third {
    background-color: var(--color-icon-3);
  }
}

@media screen and (max-width: 849px) {
  .c-benefit-content {
    gap: 16px;
  }
}

@media screen and (max-width: 499px) {
  .c-benefit-content {
  
    &__image-box {
      width: 48px;
      height: 48px;
    }
  }
  
}
