/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

.c-benefit-section {
    max-width: 1136px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 180px 152px 174px 152px;
}
