/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

.c-section {
  max-width: 1136px;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 180px 152px 174px 152px;
}

@media screen and (min-width: 500px) and (max-width: 849px) {
  .c-section {
    padding: 120px 41px 106px 41px;
  }
}

@media screen and (max-width: 849px) {
  .c-section {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 499px) {
  .c-section {
    box-sizing: border-box;
    padding: 21px 16px 20px;
    height: 100%;
  }
}
